<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>接口测试平台</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../static/login_css/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/login_css/css/reset.css" />
</head>

<body>

  <div id="particles-js">
    <div class="login">
      <div class="login-top" style="color: white">
        欢迎使用接口测试平台

      </div>
        <h4 style="text-align: center;color: red;margin-bottom: 20px;font-size: 15px">{{ message }}</h4>

        <form action="" method="" id="form_id">
           <div class="login-center clearfix">
        <div class="login-center-img"><img src="../static/login_css/img/name.png" /></div>
        <div class="login-center-input">
          <input type="text" name="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'" />
          <div class="login-center-input-text">用户名</div>
        </div>
      </div>
           <div class="login-center clearfix">
        <div class="login-center-img"><img src="../static/login_css/img/password.png" /></div>
        <div class="login-center-input">
          <input type="password" name="password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
          <div class="login-center-input-text">密码</div>
        </div>
      </div>
           <div class="login-button" onclick="login()">
            登陆
           </div>
        </form>

    </div>
    <div class="sk-rotating-plane"></div>
  </div>

  <!-- scripts -->
  <script src="../static/login_css/js/particles.min.js"></script>
  <script src="../static/login_css/js/app.js"></script>

  <script type="text/javascript">
    function hasClass(elem, cls) {
      cls = cls || '';
      if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
      return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
    }

    function addClass(ele, cls) {
      if (!hasClass(ele, cls)) {
        ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
      }
    }

    function removeClass(ele, cls) {
      if (hasClass(ele, cls)) {
        var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
        while (newClass.indexOf(' ' + cls + ' ') >= 0) {
          newClass = newClass.replace(' ' + cls + ' ', ' ');
        }
        ele.className = newClass.replace(/^\s+|\s+$/g, '');
      }
    }

  </script>

  <script>
      function login(){
          document.getElementById('form_id').action='/login_action/';
          document.getElementById('form_id').method='post';
          document.getElementById('form_id').submit();
      }
  </script>
</body>

</html>